@import url(https://fonts.googleapis.com/css?family=Forum);
@import url(https://fonts.googleapis.com/css?family=Palanquin);
@import url(https://fonts.googleapis.com/css?family=Molengo);

html, body {
    background-color: black;
    margin: 0;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    font-family: "Molengo", sans;
}

a {
    text-decoration: none;
}

.b {
    font-weight: bold;
}

.hide {
    display: none;
}

/* Elements */

.boobs {
    background-size: cover;
    background-position: center 108%;
    background-repeat: no-repeat;
    background-image: url(../img/russian.jpg);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#doers {
    font-size: 8vw;
}

.text {
    margin-top: 30vh;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    pointer-events: none;
}

.text > a {
    color: inherit;
    pointer-events: all;
}

.content {
    padding: 3rem;
    pointer-events: all;
    background-color: #fff;
    color: #333;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}

.headline {
    display: inline-block;
    vertical-align: middle;
    font-family: "Molengo", sans;
    font-size: 32px;
    margin-left: 1em;
    margin-right: 1em;
}


.badge {
    display: inline-block;
    vertical-align: middle;
}



.img-about {
    background-image: url(../img/location.png);
}

.img-who {
    background-image: url(../img/welcome.png);
}

.img-special {
    background-image: url(../img/night.png);
}

.img-teased {
    background-image: url(../img/day.png);
}

.glory {
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
    background-size: cover;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .5) inset;
}
